<?xml version='1.0' encoding='utf-8'?>
<widget id="test.device.manage" version="2.2.1"
    xmlns="http://www.w3.org/ns/widgets"
    xmlns:cdv="http://cordova.apache.org/ns/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <name>WebAPP</name>
    <description>
        WebAPP
    </description>
    <author email="dev@cordova.apache.org" href="https://cordova.apache.org">
        Apache Cordova Team
    </author>
    <!-- this hook will point your config.xml to the DevServer on Serve -->
    <!-- <hook type="after_prepare" src="../build-hook.js" /> -->
    <content src="/" />
    <!-- iOS 调试模式允许 Http -->
    <!-- <allow-navigation href="/" /> -->
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <!-- APP 图标 -->
        <!-- <icon src="www/logo.png"></icon> -->
        <allow-intent href="market:*" />
        <!-- Android 调试模式允许 Http -->
        <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
            <application android:usesCleartextTraffic="true" />
        </edit-config>
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <!-- 阻止 iOS 上垂直方向的过度滑动 -->
        <preference name="DisallowOverscroll" value="true" />
    </platform>
    <preference name="StatusBarOverlaysWebView" value="false" />
</widget>
