.layoutWarp {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;

  .bodyWrap {
    flex: 1;
  }
  .footerBar {
    border-top: 1px solid var(--adm-color-border);
  }
}
